/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* font links */
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&family=Poppins:ital,wght@0,400;0,700;1,400;1,800&family=Space+Grotesk:wght@500&family=Open+Sans:wght@300;400;500;700&display=swap');

/* @layer components {
  .section-header {
    @apply text-5xl uppercase text-white font-bold;
  }
  .title-header__white {
    @apply text-4xl text-white font-bold;
  }
  .title-header__purple {
    @apply text-4xl text-[#c1a7cd] font-bold;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg,
      #1b1630 24.67%,
      #060407 51.93%,
      #1b1630 72.65%,
      #08050b 94.09%);
  font-family: 'Kodchasan';
  overflow: hidden !important;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.section-bg-title {
  color: rgba(254, 254, 254, 0.07);
  font-family: 'Open Sans';
  font-size: 26rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .section-bg-title {
    font-size: 10rem;
    font-weight: 700;
  }
}

.section-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Navbar css starts */

/* .nav-logo {
  width: 11.125rem;
  height: 3.75rem;
  z-index: 1;
} */

/* .group {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
} */

/* .vector {
  width: 37px;
  height: 36px;
  flex-shrink: 0;
  position: absolute;
  top: -45px;
  left: 50px;
} */

/* targeting all the images like this is bad practice */
/* img {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
} */
/* 
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul a:hover {
  color: #845979;
}

.navbar ul li {
  margin: 0 30px;
} */

.btn {
  background-color: #513da5;
  border-radius: 5px;
  border: 1px solid #835978;
  padding: 20px 20px;
}


/* Navbar css ends */

/* hero section css */
header {
  display: flex;
}

.play {
  width: 89px;
  height: 89px;
  flex-shrink: 0;
}

/* hero section ends */

/* header section css */
.font-size{
  font-size: 36px;
}
.discover {
  width: 867px;
}
.second-logo {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 33%;
  margin-top: 200px;
}






/* Genesis */

.genesis-nft {
  background: url('../../public/images/genesis-nft-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Tokenomics */

.tokenomics-graph {
  background: url('../../public/images/tokenomics.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Community */

.community-logo {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 2;
}